h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.card {
    height: 450px;
    width: 280px;
    box-shadow: #989898 2px 2px 2px 2px;
    border-radius: 2px;
    margin-top: 50px;
}

.icon {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #9a9a9a;
}

.header {
    justify-content: center;
    display: flex;
    color: #be7b5b;
    width: 100%;
    height: 15%;
}

.paragraph {
    height: 25%;
    width: 100%;
}

p {
    text-align: center;
}

.button {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 35px;
    width: 120px;
    background-color: #56c3b6;
    color: white;
    border: 0;

}