.header, .footer{
    height: 200px;
    width: 100%;
    background-color: #E6F7B1FF;
    margin: 10px;
}

.menuPost{
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between;

}

.postPost{

}

.menu{
    height: 400px;
    width: 650px;
    background-color: #FFB7FFFF;
}

.post{
    height: 190px;
    width: 800px;
    background-color: #9FE2FF;
    margin: 5px;
}